<a href="https://colab.research.google.com/github/wesley34/comp3414_course_material/blob/master/ch1_python_basic/Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This section helps you to refresh on syntax and libarary in python that is required for the competition. Feel free to skip.

In [1]:
# naming convention important

# Constant: all captial word, underscore
EXAMPLE_CONSTANT = 10

# variable: underscore, lowercase
example_variable = 10

# function naming: underscore, lowercase
def example_function():
  pass

# class naming: camel case
class ExampleClass():
  pass

## please make meaningful name. Please assume others do not have piror knowledge on what you are doing hence do not use shortform frequently. like
a = 1
b = 1
c = 1

# Basic data structure and logic (You may skip this part)

In [2]:
# int and double
int_variable = 10
double_variable = 10
print( "int with double will auto cast to double")
print(int_variable / double_variable)

int with double will auto cast to double
1.0

In [3]:
# string
# concatenate of string
first_word = "ABC"
second_word = "EFG"
print(first_word+second_word) # apply to variable case
print("ABC" + "EFG") # become ABCEFG

ABCEFG
ABCEFG

In [4]:
# bool
first_value = 10
second_value = 100
thrid_value = 1000

print(first_value==first_value)
print(second_value>=first_value)
print(second_value<=thrid_value)

True
True
True

In [6]:
# if elif else
your_input = int(input()) #type your input and then cast it to int
if first_value == your_input:
  print("same than expect")
elif (first_value>your_input):
  print("smaller than expect")
else:
  print("larger than expect")

10
same than expect

In [7]:
# for loop with range
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
# for loop with iterators
example_list = ["apple","orange","banana"]
for i in example_list:
  print(i)

apple
orange
banana

In [9]:
# make list, double list
print([i for i in example_list])
print(range(10))
print(list(range(10))) # need to give it a type first

len_of_example_list = len(example_list)
merged = zip(example_list,range(len_of_example_list)) 
print(merged) # you need to give it a type first

merged_list = list(merged) #type list
print(merged_list)

['apple', 'orange', 'banana']
range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<zip object at 0x7f20f5ea1dc8>
[('apple', 0), ('orange', 1), ('banana', 2)]

In [16]:
# you may iterate for 2 
for i,j in merged_list:
  print(i," ",j)

print("",end="\n")

# we may do like this
# no need cast the type ,different to merged_list which is casted to list , check above
for i,j in zip(example_list,range(len_of_example_list)): 
  print(i, "", j)

apple   0
orange   1
banana   2

apple  0
orange  1
banana  2

In [34]:
# dict and its application 
example_dict = dict()
example_dict["key_1"] = "this is key 1 item"
example_dict["key_2"] = 2

print("Part 1")
print("dict: ", example_dict)
print("dict items: ",example_dict.items())
print("dict values: ",example_dict.values())
print("dict keys: ",example_dict.keys(),end="\n\n")


print("Part 2")
print("Iterate on dict")
for key,value in example_dict.items():
  print(key," : ", value)

Part 1
dict:  {'key_1': 'this is key 1 item', 'key_2': 2}
dict items:  dict_items([('key_1', 'this is key 1 item'), ('key_2', 2)])
dict values:  dict_values(['this is key 1 item', 2])
dict keys:  dict_keys(['key_1', 'key_2'])

Part 2
Iterate on dict
key_1  :  this is key 1 item
key_2  :  2

In [50]:
## default dict can supply for missing values
import collections

collection_dict_with_int = collections.defaultdict(int) #you may use other type like string,list and bool ...
for key,value in example_dict.items():
  collection_dict_with_int[key] = value

print(collection_dict_with_int["key_1"])
print(collection_dict_with_int["no such key"],end="\n\n") # no this key, and it prints default value  0 if you use int. If you use list then it will be []

collection_dict_with_list = collections.defaultdict(list)
print(collection_dict_with_list["no such key"],end="\n\n") # no this key and output default value []

collection_dict_with_str = collections.defaultdict(str)
print(collection_dict_with_str["no such key"],end="\n\n") # no this key and output default value ""


collection_dict_with_bool = collections.defaultdict(bool)
print(collection_dict_with_bool["no such key"],end="\n\n") # no this key and output default value false

# you shall explore more for other class or even custome class
# inherit it with collections.key and function __missing__()
# it is ok that if you do not know this , you may learn it afterwards in chapter 2

this is key 1 item
0

[]



False

# Function

In [62]:
import math

In [57]:
def adder(a,b):
  return a+b

print(adder(1,1))

2

In [63]:
def adder_list(some_list):
  answer = 0
  for i in some_list:
    answer+=i
  return answer
    
adder_list([1,1])

2

In [74]:
def adder_list_v2(a,b,c,d):
  answer = 0
  answer += (a+b+c+d)
  return answer
example_list = [1,2,3,4]
print(adder_list_v2(*example_list))
example_list_v2 = [1,2,3,4,5]
print(adder_list_v2(*example_list_v2)) ##error raise

10

TypeError: ignored

In [80]:
# like javascript or any other languages , it has a short form function
f = lambda x : x+5
print(f(5)) # x means input , the statement after ":"" is the function retunr
f_v2 = lambda x,y : x+y
print(f_v2(5,10))

10
15

In [102]:
unmap_list = [1,2,3,4,5,6,7]
mapped_str = map(str,unmap_list)
print(mapped_str,end="\n\n")
# you need to assign a type
mapped_str = list(mapped_str)
# map to string
print(mapped_str,end="\n\n")
# map back to int
print(list(map(int,mapped_str)),end="\n\n")
# map to list
print(list(map(list,mapped_str)),end="\n\n")



# map with ur function
def add(x):
  x+=1
  return x
print(list(map(add,unmap_list)),end="\n\n")

#same as
add = lambda x : x+1
print(list(map(add,unmap_list)),end="\n\n")

<map object at 0x7f20f5b0a9b0>

['1', '2', '3', '4', '5', '6', '7']

[1, 2, 3, 4, 5, 6, 7]

[['1'], ['2'], ['3'], ['4'], ['5'], ['6'], ['7']]

[2, 3, 4, 5, 6, 7, 8]

[2, 3, 4, 5, 6, 7, 8]

In [104]:
list1 = [1,2,3]
list2 = [10,20,30]
list3 = [100,200,300]

add_3 = lambda x,y,z : x+y+z

print(list(map(add_3,list1,list2,list3)))

[111, 222, 333]

In [108]:
alpha_list = ["a","b","c","d"]
alpha_set = set(alpha_list)
print(alpha_set)

# support subtraction
print(alpha_set - set("a"))
# doesnt support addition
print(alpha_set + set("a"))

{'c', 'd', 'b', 'a'}
{'c', 'b', 'd'}

TypeError: ignored